{% extends "base.html" %}


{% block image_content %}
<img src="{{ url_for('static', filename='images/' + image_filename, _t=timestamp) }}" width="512">
{% endblock %}


{% block results %}
<h3>Results:</h3>
<table class="table table-hover text-nowrap">
    <thead>
    <tr>
        {% for label in labels %}
            <th>{{ label }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <td>{{ result['chinese_name'] }}</td>
            <td>{{ result['latin_name'] }}</td>
            <td>{{ '%.5f' % result['probability'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Results at genus level:</h3>
<table class="table table-hover text-nowrap">
    <thead>
    <tr>
        {% for label in labels %}
            <th>{{ label }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for result in genus_results %}
        <tr>
            <td>{{ result['chinese_name'] }}</td>
            <td>{{ result['latin_name'] }}</td>
            <td>{{ '%.5f' % result['probability'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Results at family level:</h3>
<table class="table table-hover text-nowrap">
    <thead>
    <tr>
        {% for label in labels %}
            <th>{{ label }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for result in family_results %}
        <tr>
            <td>{{ result['chinese_name'] }}</td>
            <td>{{ result['latin_name'] }}</td>
            <td>{{ '%.5f' % result['probability'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


