{% extends "base.html" %}

{% block results_table %}
<style type="text/css">
    table{border-collapse:collapse} /*合并间距*/ 
    table, table th, table td{border:1px solid #ddd} /*表格带线框,6像素的间距*/ 
    table th, table td{padding:6px} /*单元格6像素的间距*/ 
    table th{background-color:#eee} /*表头带背景色*/ 
</style>
{% endblock %}

{% block results %}
<img src="{{ url_for('static', filename='images/' + image_filename, _t=timestamp) }}"/>

<h2>Results:</h2>
<table>
    <thead>
    <tr>
        {% for label in labels %}
            <th>{{ label }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <td>{{ result['chinese_name'] }}</td>
            <td>{{ result['latin_name'] }}</td>
            <td>{{ '%.5f' % result['probability'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Results at genus level:</h2>
<table>
    <thead>
    <tr>
        {% for label in labels %}
            <th>{{ label }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for result in genus_results %}
        <tr>
            <td>{{ result['chinese_name'] }}</td>
            <td>{{ result['latin_name'] }}</td>
            <td>{{ '%.5f' % result['probability'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Results at family level:</h2>
<table>
    <thead>
    <tr>
        {% for label in labels %}
            <th>{{ label }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for result in family_results %}
        <tr>
            <td>{{ result['chinese_name'] }}</td>
            <td>{{ result['latin_name'] }}</td>
            <td>{{ '%.5f' % result['probability'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}


